@import "tailwindcss";

@theme {
  /* Fonts */
  --font-heading: var(--font-paul-slab);
  --font-body: var(--font-montserrat);


  --color-brand-orange: #f97316;
  --color-brand-green: #89be2b;
  --color-brand-purple: #27286E;
  --color-brand-purple-light: #363785;
  --color-border-subtle: rgba(255, 255, 255, 0.1);

}

@layer base {
  body {
    /* This ensures Montserrat is the default and the background starts clean */
    @apply font-body antialiased bg-white text-slate-900;

    h1 {
      font-size: clamp(2.5rem, 8vw, 5rem);
    }

    h2 {
      font-size: clamp(2rem, 5vw, 3.5rem);
    }
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}